:root {
  /* COLORS */
  --color-dark-icon: #1c1b1f;
  --color-white: #ffffff;
  --color-brand-50: #93ffab;
  --color-brand-100: #7bf695;
  --color-brand-200: #63de80;
  --color-brand-300: #4ac86b;
  --color-brand-400: #2eb157;
  --color-brand-500: #009b43;
  --color-brand-600: #00862f;
  --color-brand-700: #00711c;
  --color-brand-800: #005c05;
  --color-brand-900: #004800;
  --color-brand-20: #daf6e4;
  --color-greyscale-50: #f3f3f3;
  --color-greyscale-100: #dddddd;
  --color-greyscale-200: #c6c6c6;
  --color-greyscale-300: #b0b0b0;
  --color-greyscale-400: #9b9b9b;
  --color-greyscale-500: #868686;
  --color-greyscale-600: #727272;
  --color-greyscale-700: #5e5e5e;
  --color-greyscale-800: #4b4b4b;
  --color-greyscale-900: #393939;
  --color-light-50: #f0f4fa;
  --color-light-100: #d9dde3;
  --color-light-200: #c3c7cd;
  --color-light-300: #adb1b7;
  --color-light-400: #989ba1;
  --color-light-500: #83878c;
  --color-light-600: #6f7278;
  --color-light-700: #5b5f64;
  --color-light-800: #484c51;
  --color-light-900: #36393e;

  /* FONT VARIABLES*/
  --font-size-h1: 2.25rem;
  --font-size-h2: 1.7rem;
  --font-size-h3: 1.15rem;
  --font-size-h4: 1rem;
  --font-size-h5: 0.85rem;

  --font-weight-heading: 500;
  --font-weight-heading-light: 400;

  /* MARGINS */
}

.text-style-label {
  font-size: 0.938rem;
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
  text-decoration: none;
  text-transform: none;
}
.text-style-paragraph-large {
  font-size: 1.625rem;
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
}
.text-style-paragraph-big {
  font-size: 1.375rem;
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
}
.text-style-paragraph-medium {
  font-size: 1rem;
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
}
