:root {
  /* COLORS */
  --color-dark-icon: #1c1b1f;
  --color-white: #ffffff;
  --color-brand-300: #4ac86b;
  --color-brand-500: #009b43;
  --color-brand-20: #daf6e4;
  --color-greyscale-50: #f3f3f3;
  --color-greyscale-200: #c6c6c6;
  --color-greyscale-600: #727272;
  --color-light-200: #c3c7cd;

  /* FONT VARIABLES*/
  --font-size-h1: 2.25rem;
  --font-size-h2: 1.7rem;
  --font-size-h3: 1.15rem;
  --font-size-h4: 1rem;
  --font-size-h5: 0.85rem;

  --font-weight-heading: 500;
  --font-weight-heading-light: 400;

  /* BREAKPOINTS */
  --breakpoint-fl1: 850px;
  --breakpoint-fl2: 780px;
  --breakpoint-fl3: 610px;
  --breakpoint-fl4: 496px;

  --breakpoint-sc1: 880px;
  --breakpoint-sc2: 650px;
}
